.icon-wrapper {
  position: relative;
}

.tip {
  position: absolute;
  width: 2ch;
  background-color: #c33363;
  border-radius: 100%;
  height: 14px;
  width: 14px;
  font-size: 8px;
  color: #ffffff;
  top: -4px;
  right: -2px;
  display: grid;
  place-items: center;
}
